<div class="container">
          <ul>
            <li>
              <div>
                <img [src]="" [alt]="">
              </div>
              <div>
                <a routerLink="/food/{{cartItem.food.id}}">
                 
                </a>
              </div>
              <div>
                <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
              </div>
              <div>
                
              </div>
          
              <div>
                <button class="remove-button">
                  Remove
                </button>
              </div>
            </li>
          </ul>
          <div class="checkout">
            <div>
              <div class="foods-count"></div>
              <div class="total-price"></div>
            </div>
          
            <a routerLink="/checkout">Proceed to Checkout</a>
          </div>
          </div>